.Container{
    width: fit-content;
    height: fit-content;
    position: absolute;
    margin: 10px 0 0 5px;
    z-index: 10;
}
.hamburger{
    width: 70px;
}

.drop-down{
    background-color: red;
}