.header{
    position: absolute ;
    width: 100vw;
    height: 250px ;
    transition: all;
    transition-duration: 300ms;
}
.text{
    margin: 70px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:max-content;
    padding: 0px 10px 0px 10px;
    height: 50px;
    background-color: white;
    border-radius: 6px; 
    transition:all 300ms ;
}

@media screen and (min-width: 796px) {
    .header{
        height: 400px;
    }
    .text{
        font-size: xx-large;
        height: 75px;
        margin-left: 120px;
        padding: 5px 15px 5px 15px;
    }
}