.special:hover{
    transform: scale(1.02);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0.2);
}
.special{
    cursor: pointer;
    transition: all;
    transition-duration: 50ms;
}
a{
    text-decoration: none;
    color: black;
}
a:visited{
    color:unset;
}
body{
    width: 100vw;
    overscroll-behavior-y: contain ;
    /* font-family: poppins@200; */
    overflow: hidden;
}